.App {
  text-align: center;
	height: 100vh;
	width: 100vW;
}

.App-header {
  background-color: #AA0432;
  height: 100px;
  padding: 20px;
  color: #FE9017;
}

.App-title {
  font-size: 2em;
}

.Container__characters{
	list-style: none;
	display: grid;

}

.Characters__item {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Seeker {
	margin: 20px;
	width: 60%;
}
.image{
	width: 200px;
	height: 250px;
}

@media all and (min-width:768px) {
	.Container__characters{
	grid-template-columns: repeat(3, 1fr);
	}
}

	@media all and (min-width:1020px) {
		.Container__characters{
		grid-template-columns: repeat(4, 1fr);
		}
}
