@import url('https://fonts.googleapis.com/css?family=Almendra');

.App {
  text-align: center;
	height: 100vh;
	font-family: 'Almendra', serif;
}

.App-header {
	width: 100vw;
  background-color: #AA0432;
  height: 100px;
  padding: 20px;
  color: #FE9017;
}

.App-title {
  font-size: 2em;
}
.Container_page{
	text-align: center;
}
.Container__characters{
	list-style: none;
	display: grid;
	grid-gap: 15px;
}

.Characters__item {
	border-radius: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Seeker {
	margin: 30px;
	width: 40%;
}
.image{
	width: 200px;
	height: 250px;
	border-radius: 20px;
}

.container__info{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.icon{
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 10px;

}
.house_gryffindor {
	background-image: url(./images/gryffindor.png);
}
.house_slytherin {
	background-image: url(./images/slytherin.png);
}
.house_ravenclaw {
	background-image: url(./images/ravenclaw.png);

}
.house_hufflepuff {
	background-image: url(./images/hufflepuff.png);
	background-size: contain;
}
.alive_dead {
	background-image: url(./images/calavera-55.jpg);
	background-size: contain;
}

.houseColor_gryffindor {
	background-color: #FECDB1;
}

.houseColor_slytherin {
	background-color: #9ACA9F ;
}
.houseColor_hufflepuff {
	background-color: #FEE493;
}
.houseColor_ravenclaw {
	background-color: #B8D4F3;
}
.houseColor_{
	background-color: #D9D9D9;
}
@media all and (min-width:675px) {
	.Container__characters{
	grid-template-columns: repeat(2, 1fr);
	}
}
@media all and (min-width:970px) {
	.Container__characters{
	grid-template-columns: repeat(3, 1fr);
	}

}

	@media all and (min-width:1060px) {
		.Container__characters{
		grid-template-columns: repeat(4, 1fr);
		}
		.App-title {
		  font-size: 3em;
		}
}
